.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}

.header_left {
  display: flex;
}

.header_left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header_search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}

.header_search > input {
  outline: none;
  border: none;
  background: none;
}

.menu__Icon {
  display: none;
}

.header_right {
  display: flex;
}

.mobile__header__left {
  display: none;
}

.chat__icon{
    display: none;
}


@media screen and (max-width: 870px) {
  .header_right {
    font-size: 7px;
  }

  .header_left > img {
    object-fit: contain;
    margin-right: 3px;
  }

  .header_search {
    width: 100px;
    height: 20px;
  }
}

@media screen and (max-width: 450px) {

    .header{
        all: unset;
        width: 100%;
    }

    .header_right{
        all: unset;
    }

  .header_right {  
    position: fixed !important;
    bottom: 0 !important;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 7px;
    background-color: white;
    height: 38px;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
  }

  .header_left {
    display: flex;
    align-items: center;
    background-color: white;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;

  }

  .header_left > img {
    object-fit: contain;
    margin-right: 3px;
  }

  .header_search {
    width: 90px;
    height: 20px;
    padding-bottom: 20px;
  }

  .header_search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    color: gray;
    background-color: #eef3f8;
  }

  

  .header_search > input {
    outline: none;
    border: none;
    background: none;
  }

  .mobile__header__left{
    display: flex;
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    left: 5px !important;
    cursor: pointer;
  }

  .mobile__header__left:hover{
    background-color: whitesmoke;
    transition-duration: 0.1s;
    font-weight: 600;
  }

  .chat__icon{
    display: flex;
    padding-left: 30px;
    position: absolute;
    right: 8px;
    top: 20px;
    cursor: pointer;
  }

  .chat__icon :hover{
    background-color: whitesmoke;
    font-size: 25px;
    border-radius: 10px;
    transition-duration: 0.1s;
    font-weight: bold;
  }
}
